.btn:hover,
.btn-primary:hover {
    background-color: #33755e !important;
  }

  .color-picker-popup > .scroll-picker .item-list {
    height: 200px;
  }

  .color-picker-popup > .scroll-picker .item-list > ul > li {
    box-shadow: 0px 0px 2px #111;
  }

  .btn, .btn-primary {
    background-color: #024930 !important;
    color: #fff;
    border-color: #024930 !important;
  }

  .theme-color,
  .multi-bound-print-type > span,
  .xe-leftbar-contentbox .xe-design-block h4,
  .xe-leftbar-sidenav > ul > li > .active,
  .xe-nav-tabs > li.active > a,
  .xe-nav-tabs > li.active > a:hover,
  .xe-nav-tabs > li.active > a:focus,
  .xe-cart-section > li > .xe-price-cart > h3 {
    color: #024930 !important;
  }

.multi-bound-print-type {
    display: none !important;
  }