/******************************************************************************
* Global Styles
******************************************************************************/
html,body {
  font-family: 'Roboto Condensed', sans-serif;
  background: url('/pub/images/backgrounds/cream-pixels.png');
}

body {
  font-size: 1.6rem;
}

/******************************************************************************
* Lists
******************************************************************************/
ul.bulleted {
  margin: 20px 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    width: 50%;
    float: left;
    text-indent: 7px;
    &:before {
      content: "\f105";
      font-family: FontAwesome;
      color: #ef2b2d;
      margin-right: 7px;
    }

    .sub-item {
      display: block;
    }
  }

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}


/** Tablets -----------------------------------------------------------------*/
@media screen and (max-width: $screen-md) {
  div.column.main {
    overflow: hidden;
  }
}

/** Mobile ------------------------------------------------------------------*/
@media screen and (max-width: $screen-sm) {
  .logo {
    width: 100px;
  }
}
