/*******************************************************************************
* Buttons and Actions
*******************************************************************************/
button,
.btn,
.action {
  border-radius: 2px;
  &.primary {
    background-color: $ss-green;
    border-color: #013925;
    border-radius: 2px;
    color: #eee;
    transition: all 1.4s ease-in-out;
    &:hover,
    &:active {
      background-color: $ss-green-dark;
      border-color: #013925;
      color: #fff;
      text-decoration: none;
    }
  }

  &.large {
    padding: 10px 20px;
  }
}

#customize {
  margin-bottom: 20px;
}

/** Tablets */
@media screen and (max-width: $screen-md) {}

/** Mobile */
@media screen and (max-width: $screen-sm) {}
