/*******************************************************************************
* Forms & Input Elements
*******************************************************************************/
input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="email"],
textarea {
  background: #fff;
  border-radius: 2px;
}

.product-add-form {
	display: none;
}

/** Tablets */
@media screen and (max-width: $screen-md) {}

/** Mobile */
@media screen and (max-width: $screen-sm) {}
