/*******************************************************************************
* Variables
*******************************************************************************/
$breakpoint-med: 768px;
$breakboint-sm: 400px;

$banner-height: 481px;
