<div class="panel panel-default" ng-hide="addpreloader">
    <div class="graphics-wrap-height">
        <div class="panel-body text-center">
            <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/progress/progress-circle-master.svg" alt="Progress"/>
        </div>
    </div>
</div>
<div class="panel panel-default" ng-show="addpreloader">
    <div class="loader-OnUpdate" pg-portlet on-refresh="refreshTest('.loader-OnUpdate')">
        <div class="panel-body">
            <div class="">
                <!-- <div class="panel-heading p-l-20 p-r-20 p-t-0">
                    <div class="panel-title"><xe-translate text-value="Properties"></xe-translate></div>
                </div> -->
                <form id="form-personal" role="form" autocomplete="off" class="p-l-10 p-r-20">
                    <div class="row clearfix">
                        <div class="col-sm-3">
                            <div class="form-group form-group-default required" pg-form-group>
                                <label>
                                    <xe-translate text-value="Name">
                                    </xe-translate>
                                </label>
                                <input type="text" class="form-control" name="editProductTemplateName" ng-model="editProductTemplate.name"  required/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 p-l-10">
                <div class="">
                    <div class="table-responsive custom-table raw-block">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        <xe-translate text-value="Side name">
                                        </xe-translate>
                                    </th>
                                    <th style="width: 20%;">
                                        <xe-translate text-value="Sort Order">
                                        </xe-translate>
                                    </th>
                                    <th>
                                        <xe-translate text-value="Image">
                                        </xe-translate>
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="side in editProductTemplate.temp_side_list">
                                    <td>
                                        <div class="form-group form-group-default required" pg-form-group>
                                            <!-- <label><xe-translate text-value="Side name"></xe-translate></label> -->
                                            <input type="text" class="form-control" name="sidename" ng-model="side.side_name"  required/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group form-group-default required" pg-form-group>
                                            <!-- <label><xe-translate text-value="Sort Order"></xe-translate></label> -->
                                            <input type="text" class="form-control" name="sidename" ng-model="side.sort_order"  required numbers-only="numbers-only"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="clearfix">
                                            <div class="custom-mask-thumb m-l-5 pull-left">
                                                <img class="img-responsive" ng-src="{{ side.url }}" fallback-src="{{ defaultImage }}"/>
                                            </div>
                                            <div class="pull-left m-l-10">
                                                <button class="btn btn-success btn-xs" ng-file-select ng-file-change="editTemplateImage($files,$index)">
                                                    <xe-translate text-value="Browse">
                                                    </xe-translate>
                                                </button>
                                                <p class="small">
                                                    .png .jpg .jpeg
                                                </p>
                                                <p class="small text-danger" ng-show="showError2 && editSideIndex == $index">
                                                    {{ showMsg }}
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pos-rlt">
                                        <div>
                                            <div class="form-group">
                                                <a ng-show="$index == editProductTemplate.temp_side_list.length-1 && $index!= 0" class="text-danger p-template-delete-icon" href="#" ng-click="removeEditSide($index)" ng-disabled="demoStatus">
                                                    <i class="fa fa-times text-danger">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button class="btn btn-xs btn-success btn-addon pull-right" ng-click="addNewSideToUpdate()"  ng-disabled="demoStatus">
                    <i class="fa fa-plus">
                    </i>
                    <xe-translate text-value="Add Side">
                    </xe-translate>
                </button>
            </div>
            <!-- <div class="col-sm-3">
                  <div class="panel-heading padding-0">
                      <div class="panel-title"><xe-translate text-value="Product Category"></xe-translate></div>
                  </div>        
                  <form id="form-personal" role="form" autocomplete="off" class="p-l-20 p-r-20">
                    <div class="row clearfix">
                      <div class="col-sm-8"> 
                          <div class="checkbox check-success" ng-repeat="category in productCategory">
                            <input type="checkbox" id="edit_{{category.id}}" ng-model="editCatetgory[$index]">
                              <label for="edit_{{category.id}}">{{category.name}}</label>
                          </div>
                      </div>
                    </div>
                  </form>
            </div> -->
        </div>
        <div class="panel-footer padding-10 b-t-none clearfix">
            <div class="pull-right">
                <button class="btn btn-info btn-sm" type="button" ng-click="updateProductTemplate()"  ng-class="{'disabled': !editProductTemplate.name}" ng-disabled="demoStatus">
                    <xe-translate text-value="Save">
                    </xe-translate>
                </button>
                <button class="btn btn-info btn-sm" type="button" ng-click="cancelEditProductTemplate()">
                    <xe-translate text-value="Cancel">
                    </xe-translate>
                </button>
            </div>
        </div>
    </div>
</div>
