<div class="modal fade slide-right" id="webFontsCategoryModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="loader-OnCategoryAdd" pg-portlet  on-refresh="refreshTest('.loader-OnCategoryAdd')">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="pg-close fs-14">
                        </i>
                    </button>
                    <div class="container-xs-height full-height">
                        <div class="row-xs-height">
                            <div class="modal-body col-xs-height col-middle text-center" id="webfontModal">
                                <div class="clearfix">
                                    <div class="category-head">
                                        <xe-translate text-value="Webfonts Category">
                                        </xe-translate>
                                    </div>
                                </div>
                                <div class="category-modal">
                                    <div class="pull-left m-t-10 m-l-10">
                                        <input type="text" placeholder="{{ catPlaceHolder }}" class="form-control input-sm" ng-model="newCategoryName"/>
                                    </div>
                                    <div class="m-t-10">
                                        <button type="button" class="btn btn-sm btn-info from-top" ng-click="addNewCategory(newCategoryName);newCategoryName=''"  ng-disabled="demoStatus" ng-class="{'disabled': !newCategoryName}">
                                            <span>
                                                <xe-translate text-value="Add">
                                                </xe-translate>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="clearfix category-list modal-scroll-height m-t-10">
                                        <ul>
                                            <li ng-repeat="category in modalWebfontsCategoryList" ng-mouseenter="showClosebtn = true" ng-mouseleave="showClosebtn = false;showBadge[$index] = false">
                                                {{ category.category_name }}
                                                <div class="pull-right">
                                                    <a href="" ng-show="showClosebtn"  ng-click="editCategory($index)">
                                                        <i class="fa fa-pencil text-info m-r-5 m-l-5">
                                                        </i>
                                                    </a>
                                                    <a href="" ng-show="showClosebtn" ng-click="deleteCat($index)">
                                                        <i class="pg-close_line m-r-5 m-l-5 pull-right">
                                                        </i>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-include src="'views/partials/updateCategoryModal.html'">
</ng-include>
