<div class="modal fade slide-up disable-scroll" id="okWarningModal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-body text-center m-t-20">
                    <h5 class="no-margin p-b-20">
                        {{ warningMessage }}
                    </h5>
                    <div class="clearfix">
                        <button type="button" class="btn btn-success btn-cons" data-dismiss="modal" ng-click="okWarningModalConfirm()" ng-disabled="demoStatus">
                            <xe-translate text-value="Ok">
                            </xe-translate>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
