.cms-home,
.cms-index-index {
  h1, h2, h3 {
    margin: 20px 0;
  }

  .block-search {
    margin-bottom: 0;
  }

  .block-title--main {
    margin-bottom: 20px;
    h3 {
      margin-bottom: 0;
    }
  }

  .block-new-products {
    .block-title {
      display: none !important;
    }
  }
}

.home-additional-products {
  background: #eee;
  background-image: url('/pub/images/abstract-art.jpg');
  background-size: cover;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 40px;
  box-shadow: 0px 0px 2px #333;


  h3 {
    color: #fff;
    text-shadow: 0px 0px 1px #333;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-family: Lobster;
  }

  .ss-block {
    width: 33.3%;
    float: left;
    padding: 20px;

    img {
      display: block;
      max-width: 260px;
      height: auto;
      margin: 0 auto 20px auto;
      border-radius: 50%;
      box-shadow: 0px 0px 44px #fff;
      border: 3px solid #fff;
    }

    p {
      padding: 6px;
      border-radius: 3px;
      color: #89191a;
      text-shadow: 0px 0px 12px #fff;
    }
  }
}

.ss-brands {
  margin: 40px 0;

  .ss-block {
    width: 20%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;

    img {
      max-width: 120px;
      width: 100%;
      height: auto;
      &:hover{
        -ms-animation: wiggle .3s 2;
        -moz-animation:wiggle .3s 2;
        -webkit-animation:wiggle .3s 2;
        animation:wiggle .3s 2;
      }
    }
  }
}

/** Tablets -----------------------------------------------------------------*/
@media screen and (max-width: $screen-md) {
  .cms-home, .cms-index-index {
    .home-additional-products {
      .ss-block {
        width: 100%;
      }
    }

    .ss-brands {
      .ss-block {
        width: 25%;
      }
    }
  }
}

/** Mobile ------------------------------------------------------------------*/
@media screen and (max-width: $screen-sm) {
  .cms-home, .cms-index-index {

  }
}
