<div ng-show="init">
    <ng-include src="'views/partials/sidemenu.html'">
    </ng-include>
    <!-- START PAGE-CONTAINER -->
    <div class="page-container">
        <ng-include src="'views/partials/header.html'">
        </ng-include>
        <!-- START PAGE CONTENT WRAPPER -->
        <div class="page-content-wrapper">
            <!-- START PAGE CONTENT -->
            <div class="content">
                <ng-include src="'views/partials/sitemap.html'">
                </ng-include>
                <ng-include src="modulePath">
                </ng-include>
            </div>
            <!-- END PAGE CONTENT -->
            <!-- <ng-include src="'views/partials/footer.html'"></ng-include> -->
        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <ng-include src="'views/partials/warningModal.html'">
    </ng-include>
    <ng-include src="'views/partials/productWarningModal.html'">
    </ng-include>
    <ng-include src="'views/partials/about.html'">
    </ng-include>
    <ng-include src="'views/partials/categoryDeleteModal.html'">
    </ng-include>
    <ng-include src="'views/partials/setDefaultCategoryModal.html'">
    </ng-include>
    <!-- END PAGE CONTAINER -->
</div>