<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Html5design_Cedapi" schema_version="1.0.3" setup_version="1.0.3" active="true" />
	<sequence><module name="quote_item"/></sequence>
	<sequence><module name="sales_order_item"/></sequence>
</config>