<div class="panel panel-default" ng-hide="addpreloader">
    <div class="graphics-wrap-height">
        <div class="panel-body text-center">
            <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/progress/progress-circle-master.svg" alt="Progress"/>
            <span class="loader-label" ng-show="addProductTemp.sizes.length> 0">
                <xe-translate text-value="Product adding">
                </xe-translate>
                ...
            </span>
        </div>
    </div>
</div>
<div class="panel panel-default" ng-show="addpreloader">
    <div class="panel-body m-t-20" style="display: block;">
        <div class="row">
            <div class="col-sm-1 m-r-10" ng-repeat="img in addProductTemp.images">
                <div class="gallery-upload-thumb">
                    <img class="img-responsive" ng-src="{{ img }}"/>
                </div>
            </div>
        </div>
        <div class="row m-t-10">
            <div class="col-sm-3">
                <label class="control-label">
                    <xe-translate text-value="Details">
                    </xe-translate>
                </label>
                <!-- <span style='color:red;'> * </span> -->
                <form id="form-personal" name="myform" role="form" autocomplete="off" class="b-t-light" novalidate>
                    <div class="row clearfix">
                        <!-- <div class="col-sm-12"> -->
                        <div class="form-group form-group-default m-t-10 required"  ng-class="{'has-error':submitted && !myform.Name.$valid}" pg-form-group>
                            <label>
                                <xe-translate text-value="Name">
                                </xe-translate>
                            </label>
                            <input type="text" class="form-control" name="Name" ng-model="addProductTemp.product_name" required/>
                        </div>
                        <div pg-form-group class="form-group form-group-default required"  ng-class="{'has-error':submitted && !myform.Sku.$valid}">
                            <label>
                                <xe-translate text-value="Sku">
                                </xe-translate>
                            </label>
                            <input type="text" class="form-control" name="Sku" ng-model="addProductTemp.sku" required/>
                        </div>
                        <div class="form-group form-group-default required" pg-form-group  ng-class="{'has-error':submitted && !myform.Quantity.$valid}">
                            <label>
                                <xe-translate text-value="Quantity">
                                </xe-translate>
                            </label>
                            <input numbers-only="numbers-only" type="number" class="form-control" min="1" name="Quantity" ng-model="addProductTemp.qty" required/>
                        </div>
                        <div class="form-group form-group-default required" pg-form-group  ng-class="{'has-error':submitted && !myform.Price.$valid}">
                            <label>
                                <xe-translate text-value="Price">
                                </xe-translate>
                            </label>
                            <input type="text" class="form-control" name="Price" ng-model="addProductTemp.price" price-only="price-only" required/>
                        </div>
                        <!-- </div> -->
                    </div>
                </form>
            </div>
            <div class="col-sm-3 m-t-25">
                <form id="form-personal" name="myform2" role="form" autocomplete="off" class="p-r-20">
                    <div class="row b-t-light clearfix">
                        <div pg-form-group class="form-group form-group-default required m-t-10"  ng-class="{'has-error':submitted && !myform2.shortDesc.$valid}">
                            <label>
                                <xe-translate text-value="Short Description">
                                </xe-translate>
                            </label>
                            <textarea name="shortDesc" class="form-control" ng-model="addProductTemp.short_description" placeholder="Briefly Describe your Product" style="margin-top: 0px; margin-bottom: 0px; height: 40;" required>
                            </textarea>
                        </div>
                        <div class="form-group form-group-default m-t-10 required" pg-form-group  ng-class="{'has-error':submitted && !myform2.desc.$valid}" novalidate>
                            <label>
                                <xe-translate text-value="Description">
                                </xe-translate>
                            </label>
                            <textarea name="desc" class="form-control" ng-model="addProductTemp.description" placeholder="Briefly Describe your Product" style="margin-top: 0px; margin-bottom: 0px; height: 58px;" required>
                            </textarea>
                        </div>
                        <!--  <div class="form-group form-group-default" pg-form-group 
                        ng-class="{'has-error':submitted && !myform2.Order_Quantity.$valid}">
                          <label><xe-translate text-value="Minimum Order Quantity"></xe-translate></label>
                          <input numbers-only="numbers-only" type="number" class="form-control" min="1" name="Order_Quantity" ng-model="addProductTemp.mini_qty" required>
                        </div> -->
                    </div>
                    <!--  <label class="control-label m-t-20 m-l-10"><xe-translate text-value="Customize Status"></xe-translate></label> -->
                    <div class="row clearfix m-l-10">
                        <div class="m-t-10">
                            <div class="checkbox check-info">
                                <input type="checkbox" id="all" ng-model="addProductTemp.is_customized" ng-true-value="1" ng-false-value="0"/>
                                <label for="all">
                                    <xe-translate text-value="Customize Status">
                                    </xe-translate>
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-3">
                <!-- dropdown start -->
                <label class="control-label required">
                    <xe-translate text-value="Categories">
                    </xe-translate>
                </label>
                <span style='color:red;'>
                    *
                </span>
                <div class="row clearfix b-t-light m-r-5">
                    <div class="col-sm-8">
                        <div class="checkbox check-info" ng-repeat="category in productCategoryData">
                            <input type="checkbox" id="upload_{{ category.id }}" ng-model="uploadCategoryType[$index]"/>
                            <label for="upload_{{ category.id }}">
                                {{ category.name }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="control-label">
                    <xe-translate text-value="Color and Sizes">
                    </xe-translate>
                </label>
                <span style='color:red;'>
                    *
                </span>
                <div class="row clearfix b-t-light">
                    <div class="col-sm-8 m-t-10">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default"  data-toggle="dropdown" style="width: 150px;">
                                {{ selectedColor }}
                            </button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                                <span class="caret">
                                </span>
                                <span class="sr-only">
                                    Toggle Dropdown
                                </span>
                            </button>
                            <ul class="dropdown-menu" role="menu" style="width: 176px;"  ng-class="{'button-scroll':colorData.length> 4}">
                                <li ng-repeat="color in colorData" ng-click="assignColor($index)">
                                    <a href="">
                                        {{ color.label }}
                                    </a>
                                </li>
                            </ul>
                            <!-- dropdown end  -->
                        </div>
                    </div>
                    <!-- </div> -->
                    <!-- dropdown start -->
                    <div class="col-sm-12 m-t-10">
                        <div class="checkbox check-info" ng-repeat="size in SizeData">
                            <input type="checkbox" id="size_{{ size.value }}" ng-model="uploadSizeType[$index]"/>
                            <label for="size_{{ size.value }}">
                                {{ size.label }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix m-r-20 m-b-20" ng-show="addpreloader">
    <div class="pull-right">
        <button class="btn btn-info btn-sm" type="button"  ng-click="saveTemplateAsProduct(myform,myform2);submitted=true" ng-disabled="demoStatus">
            <xe-translate text-value="Save">
            </xe-translate>
        </button>
        <button class="btn btn-info btn-sm" type="button" ng-click="cancelTemplate()">
            <xe-translate text-value="Cancel">
            </xe-translate>
        </button>
    </div>
</div>
