<div class="modal fade slide-right" id="patternCategoryModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="loader-OnCategoryAdd" pg-portlet  on-refresh="refreshTest('.loader-OnCategoryAdd')">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="pg-close fs-14">
                        </i>
                    </button>
                    <div class="container-xs-height full-height">
                        <div class="row-xs-height">
                            <div class="modal-body col-xs-height col-middle text-center" id="backgroundManageCategoryModal">
                                <div class="clearfix">
                                    <div class="category-head">
                                        <xe-translate text-value="Background Pattern Category">
                                        </xe-translate>
                                    </div>
                                </div>
                                <div class="category-modal">
                                    <div class="pull-left m-t-10  m-l-10">
                                        <input type="text" placeholder="{{ catPlaceHolder }}" class="form-control input-sm" ng-model="newCategoryName"/>
                                    </div>
                                    <div class="m-t-10">
                                        <button type="button" class="btn btn-sm btn-info" ng-click="addNewCategory(newCategoryName);newCategoryName=''"  ng-disabled="demoStatus" ng-class="{'disabled': !newCategoryName}">
                                            <span>
                                                <xe-translate text-value="Add">
                                                </xe-translate>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="clearfix category-list modal-scroll-height m-t-10">
                                        <ul>
                                            <li ng-repeat="category in bgPatternCategoryList"  ng-mouseenter="showCategoryClosebtn[$index]=true" ng-mouseleave="showCategoryClosebtn[$index]=false; showCategoryBadge[$index]=false">
                                                <a href="">
                                                    {{ category.category_name }}
                                                </a>
                                                <div class="pull-right">
                                                    <a href="" ng-show="showCategoryClosebtn[$index]"  ng-click="editCategory($index)">
                                                        <i class="fa fa-pencil text-info m-r-5 m-l-5">
                                                        </i>
                                                    </a>
                                                    <a href="" ng-show="showCategoryClosebtn[$index]" ng-click="deletePatternCategory($index)">
                                                        <i class="pg-close_line m-r-5 m-l-5">
                                                        </i>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-include src="'modules/backgroundPattern/views/partials/updateBackgroundCategory.html'">
</ng-include>
