<div class="modal fade slide-up disable-scroll modal-bg" id="backgroundCategoryUpdateModal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm custom-background-madal-pos">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-body text-center m-t-20">
                    <input type="text" placeholder="{{ catPlaceHolder }}" class="form-control input-sm pull-left m-l-10" ng-model="catDetail.cate_name"/>
                    <div class="clearfix">
                        <button type="button" class="btn btn-sm btn-info m-t-10" ng-click="updateCategory()"  ng-disabled="demoStatus" ng-class="{'disabled': !catDetail.cate_name}">
                            <span>
                                <xe-translate text-value="Save">
                                </xe-translate>
                            </span>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm m-t-10" data-dismiss="modal">
                            <span>
                                <xe-translate text-value="Cancel">
                                </xe-translate>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
