<!--
    preloader start
-->
<div class="panel panel-default" ng-hide="preloader">
    <div class="graphics-wrap-height">
        <div class="panel-body text-center">
            <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/progress/progress-circle-master.svg" alt="Progress"/>
        </div>
    </div>
</div>
<!-- preloader end -->
<!-- list load start-->
<div class="panel panel-default" ng-show="preloader">
    <div class="loader-OnUpdate" pg-portlet on-refresh="refreshTest('.loader-OnUpdate')">
        <div class="panel-body">
            <div class="col-sm-2 b-r-light">
                <div class="panel-heading padding-0">
                    <div class="panel-title">
                        <xe-translate text-value="Preview">
                        </xe-translate>
                    </div>
                </div>
                <span ng-show="isMultipleEditFileCount">
                    {{ fileCount }}
                    <xe-translate text-value="files selected">
                    </xe-translate>
                </span>
                <div class="gallery-upload-thumb" ng-show="isEditWordCloudVisible">
                    <img class="img-responsive" ng-src="{{ editWordCloud.url }}"/>
                </div>
            </div>
            <div class="col-sm-5 ">
                <div class="panel-heading p-l-20 p-r-20 p-t-0">
                    <div class="panel-title">
                        <xe-translate text-value="Properties">
                        </xe-translate>
                    </div>
                </div>
                <form id="form-personal" role="form" autocomplete="off" class="p-l-20 p-r-20">
                    <div class="row clearfix">
                        <div class="col-sm-8">
                            <div class="form-group form-group-default required" pg-form-group>
                                <label>
                                    <xe-translate text-value="Name">
                                    </xe-translate>
                                </label>
                                <input type="text" class="form-control" ng-model="editWordCloud.name" required/>
                            </div>
                        </div>
                        <!-- <div class="col-sm-4">
                          <div class="form-group form-group-default" pg-form-group>
                            <label><xe-translate text-value="Price"></xe-translate></label>
                            <input type="text" class="form-control" name="price" ng-model="editWordCloud.price" money required>
                          </div>
                        </div> -->
                    </div>
                </form>
            </div>
            <div class="col-sm-5">
            </div>
        </div>
        <div class="panel-footer b-t-none clearfix">
            <div class="pull-right">
                <button class="btn btn-primary btn-sm" type="button"  ng-click="updateWordCloudDetails()"  ng-class="{'disabled': !editWordCloud.name}" ng-disabled="demoStatus">
                    <xe-translate text-value="Save">
                    </xe-translate>
                </button>
                <button class="btn btn-primary btn-sm" type="button" ng-click="cancelWordCloudEditView()">
                    <xe-translate text-value="Cancel">
                    </xe-translate>
                </button>
            </div>
        </div>
    </div>
</div>
