<div class="modal fade stick-up" id="customMaskModal" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="pg-close fs-14">
                    </i>
                </button>
                <h5>
                    <span class="semi-bold">
                        <xe-translate text-value="Configure custom Mask">
                        </xe-translate>
                    </span>
                </h5>
            </div>
            <div class="modal-body" id="customMaskkModal">
                <div class="pull-left m-l-10 m-b-10">
                    <button type="button" class="btn btn-success btn-sm" ng-click="addNewMask.status = true">
                        <span>
                            <xe-translate text-value="Add New Mask">
                            </xe-translate>
                        </span>
                    </button>
                </div>
                <div class="pull-left m-l-10 m-b-10">
                    <input type="text" placeholder="Search here" class="form-control" ng-model="search.name"/>
                </div>
                <div class="row">
                    <div class="col-sm-12" ng-show="addNewMask.status || allCustomMaskData.length> 0">
                        <table class="table table-bordered table-sm custom-mask-head">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="t-w-80">
                                            <xe-translate text-value="Mask Image">
                                            </xe-translate>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="t-w-214">
                                            <xe-translate text-value="Mask Name">
                                            </xe-translate>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="t-w-130">
                                            <xe-translate text-value="Height">
                                            </xe-translate>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="t-w-130">
                                            <xe-translate text-value="Width">
                                            </xe-translate>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="t-w-130">
                                            <xe-translate text-value="Price">
                                            </xe-translate>
                                        </div>
                                    </th>
                                    <!-- <th width="15%"><xe-translate text-value="Unit"></xe-translate></th> -->
                                    <th>
                                        <div class="t-w-80">
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="addNewMask.status">
                                    <td>
                                        <div class="t-w-80">
                                            <button class="btn btn-success btn-xs" ng-hide="uploadCustomMask.isMask" ng-file-select ng-file-change="customUpload($files)">
                                                <xe-translate text-value="Upload">
                                                </xe-translate>
                                            </button>
                                            <div class="custom-mask-thumb" ng-show="uploadCustomMask.isMask">
                                                <img class="img-responsive" ng-src="{{ uploadCustomMask.data }}"/>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="t-w-214">
                                            <input type="text" class="form-control" ng-model="CustoMask.name" remove-spl-chars="remove-spl-chars"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="t-w-130">
                                            <!-- <input type="text" class="form-control" ng-disabled="!uploadCustomMask.isMask" ng-model="CustoMask.height"
                                                   price-only="price-only" 
                                                   ng-keyup="CustoMask.height=getMaskWidth(CustoMask.height)"> -->
                                            <div class="form-group form-group-sm input-group w-md" pg-form-group>
                                                <input type="text" class="autonumeric form-control usd h-35" ng-model="CustoMask.height" ng-keyup="CustoMask.height=getMaskWidth(CustoMask.height)"  ng-disabled="!uploadCustomMask.isMask" price-only="price-only"/>
                                                <span class="input-group-addon">
                                                    {{ printUnit }}
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="t-w-130">
                                            <!-- <input type="text" class="form-control" ng-model="CustoMask.width" 
                                                  price-only="price-only" ng-disabled="!uploadCustomMask.isMask"
                                                  ng-keyup="CustoMask.width=getMaskHeight(CustoMask.width)"> -->
                                            <div class="form-group form-group-sm input-group w-md" pg-form-group>
                                                <input type="text" class="autonumeric form-control usd h-35" ng-model="CustoMask.width" ng-keyup="CustoMask.height=getMaskWidth(CustoMask.width)"  ng-disabled="!uploadCustomMask.isMask" price-only="price-only"/>
                                                <span class="input-group-addon">
                                                    {{ printUnit }}
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="t-w-130">
                                            <!-- <input type="text" class="form-control" ng-model="CustoMask.price" 
                                                  price-only="price-only" ng-disabled="!uploadCustomMask.isMask"> -->
                                            <div class="form-group form-group-sm input-group w-md" pg-form-group>
                                                <input type="text" class="autonumeric form-control usd h-35" ng-model="CustoMask.price"  price-only="price-only" ng-disabled="!uploadCustomMask.isMask"/>
                                                <span class="input-group-addon">
                                                    {{ appCurrency }}
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <!-- <td class="text-u font-bold"> 
                                        {{printUnit}}
                                    </td> -->
                                    <td class="text-u font-bold">
                                        <div class="t-w-80">
                                            <button class="btn btn-xs btn-success" ng-disabled="demoStatus || !uploadCustomMask.isMask || !CustoMask.height || !CustoMask.width || saveMaskButton" ng-click="saveCustomMask(CustoMask)">
                                                <span>
                                                    <i class="fa fa-floppy-o" aria-hidden="true">
                                                    </i>
                                                </span>
                                            </button>
                                            <button class="btn btn-xs btn-danger" ng-disabled="demoStatus"  ng-click="addNewMask.status = false; uploadCustomMask.isMask = false;clearMaskInfo()">
                                                <span>
                                                    <i class="fa fa-times" aria-hidden="true">
                                                    </i>
                                                </span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-repeat="maskdata in allCustomMaskData | filter:search:strict">
                                    <td>
                                        <div class="t-w-80">
                                            <div class="custom-mask-thumb">
                                                <img class="img-responsive" ng-src="{{ maskdata.url }}"/>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="t-w-214">
                                            <input type="text" class="form-control" ng-model="maskdata.name" remove-spl-chars="remove-spl-chars"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="t-w-130">
                                            <!-- <input type="text" class="form-control" ng-model="maskdata.maskheight"
                                                   price-only="price-only" 
                                                   ng-keyup="maskdata.maskheight=getEditMaskWidth(maskdata.maskheight,$index)"> -->
                                            <div class="form-group form-group-sm input-group w-md" pg-form-group>
                                                <input type="text" class="autonumeric form-control usd h-35" ng-model="maskdata.maskheight" ng-keyup="maskdata.maskheight=getEditMaskWidth(maskdata.maskheight,$index)"  price-only="price-only"/>
                                                <span class="input-group-addon">
                                                    {{ printUnit }}
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="t-w-130">
                                            <!-- <input type="text" class="form-control" ng-model="maskdata.maskwidth" 
                                                  price-only="price-only" 
                                                  ng-keyup="maskdata.maskwidth=getEditMaskHeight(maskdata.maskwidth,$index)"> -->
                                            <div class="form-group form-group-sm input-group w-md" pg-form-group>
                                                <input type="text" class="autonumeric form-control usd h-35" ng-model="maskdata.maskwidth" ng-keyup="maskdata.maskwidth=getEditMaskHeight(maskdata.maskwidth,$index)"  price-only="price-only"/>
                                                <span class="input-group-addon">
                                                    {{ printUnit }}
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="t-w-130">
                                            <!-- <input type="text" class="form-control" ng-model="maskdata.price" 
                                                  price-only="price-only"> -->
                                            <div class="form-group form-group-sm input-group w-md" pg-form-group>
                                                <input type="text" class="autonumeric form-control usd h-35" ng-model="maskdata.price"  price-only="price-only"/>
                                                <span class="input-group-addon">
                                                    {{ appCurrency }}
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <!-- <td class="text-u font-bold"> 
                                        {{printUnit}}
                                    </td> -->
                                    <td class="text-u font-bold">
                                        <div class="t-w-80">
                                            <button class="btn btn-xs btn-danger" ng-disabled="demoStatus"  ng-click="deleteMaskById($index)">
                                                <span>
                                                    <i class="fa fa-trash-o" aria-hidden="true">
                                                    </i>
                                                </span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="m-t-20 clearfix">
                    <button type="button" class="btn btn-success btn-sm " ng-click="updateCustomMask()" ng-disabled="demoStatus || allCustomMaskData.length==0 || addNewMask.status">
                        <span>
                            <xe-translate text-value="Update">
                            </xe-translate>
                        </span>
                    </button>
                    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" ng-click="clearMaskInfo()">
                        <span>
                            <xe-translate text-value="Cancel">
                            </xe-translate>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
