<!--
    preloader start
-->
<div class="panel panel-default" ng-hide="preloader">
    <div class="graphics-wrap-height">
        <div class="panel-body text-center">
            <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/progress/progress-circle-master.svg" alt="Progress"/>
        </div>
    </div>
</div>
<!-- preloader end -->
<!-- edit View Start -->
<div class="panel panel-default" ng-show="preloader">
    <div class="loader-OnUpdate" pg-portlet on-refresh="refreshTest('.loader-OnUpdate')">
        <div class="panel-body">
            <div class="col-sm-2">
                <div class="panel-heading padding-0">
                    <div class="panel-title">
                        <xe-translate text-value="Preview">
                        </xe-translate>
                    </div>
                </div>
                <div class="gallery-upload-thumb" ng-show="isSelectedShapeVisible">
                    <img class="img-responsive" ng-src="{{ selectedShapeUrl }}"/>
                </div>
                <span ng-show="isMultipleEditFileCount">
                    {{ fileCount }} files selected
                </span>
            </div>
            <div class="col-sm-6 b-r-light b-l-light">
                <div class="panel-heading p-l-20 p-r-20 p-t-0">
                    <div class="panel-title">
                        <xe-translate text-value="Properties">
                        </xe-translate>
                    </div>
                </div>
                <form id="form-personal" role="form" autocomplete="off" class="p-l-20 p-r-20">
                    <div class="row clearfix">
                        <div class="col-sm-8">
                            <div class="form-group form-group-default required" pg-form-group>
                                <label>
                                    <xe-translate text-value="Name">
                                    </xe-translate>
                                </label>
                                <input type="text" class="form-control" name="Name" ng-model="editShape.name" required/>
                            </div>
                        </div>
                        <!-- <div class="col-sm-4">
                          <div class="form-group form-group-default required" pg-form-group>
                            <label><xe-translate text-value="Price"></xe-translate></label>
                            <input type="text" class="form-control" name="price" ng-model="editShape.price" money required>
                          </div>
                        </div> -->
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-8">
                            <div pg-form-group class="form-group form-group-default">
                                <label>
                                    <xe-translate text-value="Tags">
                                    </xe-translate>
                                </label>
                                <tags-input ng-model="editTags">
                                </tags-input>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-4">
                <div class="panel-heading p-l-20 p-r-20 p-t-0">
                    <div class="panel-title">
                        <xe-translate text-value="Assign Category">
                        </xe-translate>
                    </div>
                    <span style='color:red;'>
                        *
                    </span>
                </div>
                <div class="clearfix p-l-20 p-r-20 m-b-10" ng-repeat="item in editCategoryElms">
                    <div class="btn-group pull-left m-r-20">
                        <button type="button" class="btn btn-default text-ellipsis"  data-toggle="dropdown" style="width:147px">
                            {{ item.category_name == null?'Select Category':item.category_name }}
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret">
                            </span>
                            <span class="sr-only">
                                Toggle Dropdown
                            </span>
                        </button>
                        <ul class="dropdown-menu" role="menu" ng-class="{'button-scroll':shapeCategoryList.length> 4}" style="width:174px">
                            <li ng-click="categoryDefault('Select Category',$index)">
                                <a href="">
                                    <xe-translate text-value="Select Category">
                                    </xe-translate>
                                </a>
                            </li>
                            <li ng-repeat="categoryItem in shapeCategoryList" ng-click="editCategorySelected(categoryItem,$parent.$index)">
                                <a href="">
                                    {{ categoryItem.category_name }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-info btn-xs" type="button" ng-click="removeEditCategoryElms($index)">
                            <i class="fa fa-times">
                            </i>
                        </button>
                    </div>
                </div>
                <button class="btn btn-success btn-xs pull-right m-r-20" type="button" ng-click="addEditCategoyElm()">
                    <i class="fa fa-plus">
                    </i>
                </button>
            </div>
        </div>
        <div class="panel-footer b-t-none clearfix">
            <div class="pull-right">
                <button class="btn btn-primary btn-sm" type="button" ng-click="updateShapeDetail()"  ng-class="{'disabled': !editShape.name}" ng-disabled="demoStatus">
                    <xe-translate text-value="Save">
                    </xe-translate>
                </button>
                <button class="btn btn-primary btn-sm" type="button" ng-click="cancelEditShape()">
                    <xe-translate text-value="Cancel">
                    </xe-translate>
                </button>
            </div>
        </div>
    </div>
</div>
