<div class="panel-heading separator p-t-0">
    <div class="panel-title">
        <h4 class ="xe-panel-title">
            <xe-translate text-value="Choose Language">
            </xe-translate>
        </h4>
    </div>
</div>
<div class="panel-body m-t-20">
    <form class="form-horizontal" role="form" autocomplete="off">
        <div class="form-group">
            <label class="col-sm-2 control-label">
                <xe-translate text-value="Change Language">
                </xe-translate>
            </label>

            <div class="btn-group">
                <button type="button" class="btn btn-default"  data-toggle="dropdown" style="width: 180px;">
                    {{ selectedLanguage }}
                </button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret">
                    </span>
                    <span class="sr-only">
                        Toggle Dropdown
                    </span>
                </button>
                <ul class="dropdown-menu" role="menu" style="width: 207px;" ng-class="{'button-scroll':languages.length> 4}">
                    <li ng-repeat="language in languages" ng-click="languageSelected(language)">
                        <a href="">
                            {{ language.name }}
                        </a>
                    </li>
                </ul>
            </div> <br> <br>
            <a ng-click="addNewLanguageModal()" style="cursor:pointer;" 
            class="m-r-10">
                <u class="text-info m-l-5 font-montserrat ">
                    <xe-translate text-value="Add New">
                    </xe-translate>
                </u>
            </a>
            <a ng-click="editLanguageModal()" style="cursor:pointer;" class="m-r-10">
                <u class="text-info m-l-5 font-montserrat ">
                    <xe-translate text-value="Edit">
                    </xe-translate>
                </u>
            </a>
        </div>
    </form>
</div>

<div class="panel-footer wizard-ftr bg-white">
    <button class="btn btn-sm btn-info pull-left m-r-10" ng-click="updateLang_Cur_Unit_Tab()" ng-disabled="demoStatus">
        <xe-translate text-value="Save">
        </xe-translate>
    </button>
</div>