<div class="modal fade stick-up" id="socialimagemodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="pg-close fs-14">
                    </i>
                </button>
                <h5>
                    <span class="semi-bold">
                        {{ socialImageModalLabel }}
                    </span>
                </h5>
            </div>
            <div class="modal-body" id="socialImageModal">
                <hr/>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="row m-t-10">
                                            <div class="col-sm-12">
                                                <div class="form-group no-border no-margin">
                                                    <label class="col-sm-4 control-label">
                                                        <xe-translate text-value="App Id">
                                                        </xe-translate>
                                                    </label>
                                                    <div class="col-sm-5">
                                                        <div pg-form-group class="form-group">
                                                            <input type="text"  ng-model="addToCartSetting.app_id" id="app_id" class="form-control" placeholder="Enter Application Id" numbers-only="numbers-only"/>
                                                        </div>
                                                    </div>
                                                    <!--  <div class="col-sm-3 m-t-10 padding-0">Ex: English</div> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group no-border no-margin">
                                                    <label class="col-sm-4 m-t-5 control-label">
                                                        <xe-translate text-value="Domain Name">
                                                        </xe-translate>
                                                    </label>
                                                    <div class="col-sm-5">
                                                        <div pg-form-group class="form-group">
                                                            <input type="text"  ng-model="addToCartSetting.domain_name" id="domain_name" class="form-control" placeholder="Enter Domain Name"/>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="col-sm-3 m-t-10 padding-0">Ex: en</div> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group no-border no-margin">
                                                    <label class="col-sm-4 control-label">
                                                        <xe-translate text-value="Site Url">
                                                        </xe-translate>
                                                    </label>
                                                    <div class="col-sm-5">
                                                        <div pg-form-group class="form-group">
                                                            <input type="text"  ng-model="addToCartSetting.site_url" id="site_url" class="form-control" placeholder="Enter Site Url"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="small text-danger"  ng-show = "isValidate" style = "margin-left:250px;">
                                            {{ showErr }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="m-t-20 text-center">
                            <button type="button" class="btn btn-success btn-sm" ng-click="updateSocialImageDetails()" ng-class="{'disabled':!addToCartSetting.app_id || !addToCartSetting.domain_name || !addToCartSetting.site_url}" ng-disabled="demoStatus || buttonStatus">
                                <span>
                                    <xe-translate text-value="Save">
                                    </xe-translate>
                                </span>
                            </button>
                            <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">
                                <span>
                                    <xe-translate text-value="Cancel">
                                    </xe-translate>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
