<div class="modal fade stick-up" id="selectMaxColor" ng-if="isMaxNumberColor == true;" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="pg-close fs-14">
                    </i>
                </button>
                <h5>
                    <span class="semi-bold">
                        <xe-translate text-value="Select Number Of Maximum Colors">
                        </xe-translate>
                    </span>
                </h5>
            </div>
            <div class="modal-body" id="selectMaxNumColor">
                <div class="row">
                    <!-- <div class="form-control"> -->
                    <div class="col-sm-1">
                        <div pg-form-group class="form-group">
                            <input type="text"  ng-model="numberOfColors"  class="form-control" id = "selectMaxNumColor" placeholder="Enter Max number of color " style="width: 200px;" numbers-only="numbers-only"/>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
                <div class="m-t-20 clearfix">
                    <button type="button" class="btn btn-success btn-sm " ng-click="addNumberOfMaxSelectColor(numberOfColors)" aria-hidden="isMaxNumberColor" ng-disabled="demoStatus || customMaskList.length==0">
                        <span>
                            <xe-translate text-value="Save">
                            </xe-translate>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
