<div class="panel-heading separator p-t-0">
    <div class="panel-title">
        <h4 class ="xe-panel-title">
            <xe-translate text-value="add to cart">
            </xe-translate>
        </h4>
    </div>
</div>
<div class="panel-body m-t-20">
    <form class="form-horizontal" role="form" autocomplete="off">
        <div class="form-group">
            <div class="form-group no-border no-margin">
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="radio radio-success m-b-15">
                                <input type="radio" value="1" id="enable1" ng-model="addToCartSetting.is_popup_enable"  ng-checked="addToCartSetting.is_popup_enable == 1" ng-change="addToCartPopUp()"/>
                                <label for="enable1">
                                    <xe-translate text-value="Enabled">
                                    </xe-translate>
                                </label>
                                <input type="radio" value="0" id="disable1" ng-model="addToCartSetting.is_popup_enable" ng-checked="addToCartSetting.is_popup_enable == 0" ng-change="addToCartSetting.is_popup_enable = 0"/>
                                <label for="disable1">
                                    <xe-translate text-value="Disabled">
                                    </xe-translate>
                                </label>
                            </div>
                            <div class="row" ng-show="addToCartSetting.is_popup_enable == 1">
                                <div class="form-group form-group-default input-group nested-form-group w-full" pg-form-group>
                                    <label>
                                        <xe-translate text-value="Term and Condition">
                                        </xe-translate>
                                    </label>
                                    <textarea type="text" placeholder="Set Term and Condition"  style="width: 724px; height: 125px;"  ng-model="addToCartSetting.terms_condition">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

<div class="panel-footer wizard-ftr bg-white">
    <button class="btn btn-sm btn-info pull-left m-r-10" ng-click="updateGeneralSetting()" ng-disabled="demoStatus">
        <xe-translate text-value="Save">
        </xe-translate>
    </button>
</div>