<div class="panel panel-default" ng-hide="addpreloader">
    <div class="graphics-wrap-height">
        <div class="panel-body text-center">
            <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/progress/progress-circle-master.svg" alt="Progress"/>
        </div>
    </div>
</div>
<div class="panel panel-default" ng-show="addpreloader">
    <div class="loader-OnUpdate" pg-portlet on-refresh="refreshTest('.loader-OnUpdate')">
        <div class="panel-body">
            <div class="col-sm-3 b-r-light">
                <div class="panel-heading p-l-20 p-r-20 p-t-0">
                    <div class="panel-title">
                        <xe-translate text-value="Properties">
                        </xe-translate>
                    </div>
                </div>
                <form id="form-personal" role="form" autocomplete="off" class="p-l-20 p-r-20">
                    <div class="row clearfix">
                        <div class="col-sm-8">
                            <div class="form-group form-group-default required" pg-form-group>
                                <label>
                                    <xe-translate text-value="Name">
                                    </xe-translate>
                                </label>
                                <input type="text" class="form-control" name="ColorName" ng-model="discount.name"  required/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-4 p-l-10">
                <button class="btn btn-sm btn-success btn-addon pull-right" ng-click="addNewDiscountRange()"  ng-disabled="demoStatus">
                    <i class="fa fa-plus">
                    </i>
                    <xe-translate text-value="Add Range">
                    </xe-translate>
                </button>
                <div class="discount-scroll">
                    <div class="table-responsive custom-table raw-block">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        Discount in %
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="discount in discountList">
                                    <td>
                                        <div class="input-group">
                                            <input type="text" class="input-sm form-control" name="start" ng-model="discount.from" pg-form-group="" numbers-only="numbers-only"/>
                                            <span class="input-group-addon">
                                                <xe-translate text-value="to">
                                                </xe-translate>
                                            </span>
                                            <input type="text" class="input-sm form-control" name="end" ng-model="discount.to" pg-form-group="" numbers-only="numbers-only"/>
                                        </div>
                                    </td>
                                    <td class="pos-rlt">
                                        <div>
                                            <div class="form-group">
                                                <a ng-if="$index == discountList.length-1 && $index!= 0" class="text-danger discount-delete-icon" href="#" ng-click="removeDiscountRange($index)" ng-disabled="demoStatus">
                                                    <i class="fa fa-times text-danger">
                                                    </i>
                                                </a>
                                                <div class="input-group">
                                                    <input type="text" maxlength="4" class="form-control w-110" ng-model="discount.percentage" pg-form-group="" price-only="price-only"/>
                                                    <span class="input-group-addon">
                                                        %
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer padding-10 b-t-none clearfix">
            <div class="pull-right">
                <button class="btn btn-primary btn-sm" type="button" ng-click="saveProductDiscount()"  ng-class="{'disabled': !discount.name}" ng-disabled="demoStatus">
                    <xe-translate text-value="Save">
                    </xe-translate>
                </button>
                <button class="btn btn-primary btn-sm" type="button" ng-click="cancelAddDiscountView()">
                    <xe-translate text-value="Cancel">
                    </xe-translate>
                </button>
            </div>
        </div>
    </div>
</div>
