.cms-product-designer {
  #tshirtIFrame {
  	border: 0;
  	box-shadow: none;
    margin-top: 20px;

    .btn-primary {
    	background-color: #024930 !important;
    	&:hover,
    	&:active {
    		background-color: #33755e !important;
    	}
    	&:visited {
    		background-color: #024930 !important;
    	}
    }
  }

  .color-picker-popup > .scroll-picker .item-list {
    height: 200px;
  }

  .color-picker-popup > .scroll-picker .item-list > ul > li {
    box-shadow: 0px 0px 2px #111;
  }

  .used-color > ul > li {
    box-shadow: 0px 0px 2px #000;
  }

  .color-thumb-wrap > .color-pick-wrap > .color-thumb {
    box-shadow: 0px 0px 2px #000;
    border: 2px solid #fff;
  }
}
