/** Owl Carousel - Main Banner ----------------------------------------------*/
.owl-carousel.owl-carousel-custom-1 {
  padding: 0;
  overflow: hidden;

  .owl-stage-outer {
    padding: 0;
  }

  .banner-item {
    margin: 0 !important;

    .content_slider {
      font-family: Roboto;
      top: auto;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      padding: 8px 0;
      background: rgba(0,0,0,.5);
      &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: "";
        clear: both;
        height: 0;
      }

      .banner-description {
        font-size: 2.5vw;
        text-shadow: 0px 1px 1px #555;
        padding: 0;
        margin: 0;
      }

      .buttons {
        a.action.primary {
          border: 3px solid #fff;
          border-radius: 3px;
          background: none;
          padding: 12px 20px;
          transition: all 1.4s ease-in-out;
          &:hover {
            background: rgba(255,255,255,.2);
          }

          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }

    /** ScreenShots Inc Banner **/
    &.banner-1 {
      .content_slider {
        .banner-description {
        }
      }

      .buttons {
        display: none;
      }
    }

    /** Here I Am Banner **/
    &.banner-2 {
      .content_slider {
        .banner-description {
        }
      }

      .buttons {
        display: none;
      }
    }

    /** Baseball Season Banner **/
    &.banner-3 {
      .banner-title,
      .banner-description,
      .buttons {
        width: 50%;
        float: right;
        text-align: left;
      }

      .buttons {
        display: none;
      }
    }


    /** Volleyball Banner **/
    &.banner-4 {
      .buttons {
        display: none;
      }
    }

    /** Rooster Tshirts Banner **/
    &.banner-5 {
      .content_slider {
      }

      .buttons {
        display: none;
      }
    }

    /** Football Banner **/
    &.banner-6 {
      .content_slider {
      }

      .buttons {
        display: none;
      }
    }

    /** MSU Golf Cart Banner **/
    &.banner-8 {
      .content_slider {
      }

      .buttons {
        display: none;
      }
    }
  }
}

/** Tablets -----------------------------------------------------------------*/
@media screen and (max-width: $screen-md) {
}

/** Mobile ------------------------------------------------------------------*/
@media screen and (max-width: $screen-sm) {
}
