<div class="header ">
    <!-- START MOBILE CONTROLS -->
    <!-- LEFT SIDE -->
    <div class="pull-left full-height visible-sm visible-xs">
        <!-- START ACTION BAR -->
        <div class="sm-action-bar">
            <a class="btn-link toggle-sidebar" data-toggle="sidebar" href="#">
                <span class="icon-set menu-hambuger">
                </span>
            </a>
        </div>
        <!-- END ACTION BAR -->
    </div>
    <!-- RIGHT SIDE -->
    <div class="pull-right full-height visible-sm visible-xs">
        <!-- START ACTION BAR -->
        <div class="sm-action-bar">
            <a class="btn-link" data-toggle="quickview" data-toggle-element="#quickview" href="#">
                <span class="icon-set menu-hambuger-plus">
                </span>
            </a>
        </div>
        <!-- END ACTION BAR -->
    </div>
    <!-- END MOBILE CONTROLS -->
    <div class=" pull-left sm-table">
        <div class="header-inner">
            <div class="brand inline">
            </div>
            <label class="text-danger m-l-30 font-bold text-lg" id="label_header_msg_session" ng-show="demoStatus">
                <xe-translate text-value="Demo mode">
                </xe-translate>
            </label>
        </div>
    </div>
    <div class="pull-right">
        <!-- START User Info-->
        <div class="visible-lg visible-md m-t-10">
            <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
                <span>
                    {{userName}}  |
                </span>
                <a class="pull-right" href="#" ng-click="signOut()">
                    <span>
                        <xe-translate text-value="Logout">
                        </xe-translate>
                    </span>
                    <span>
                        <i class="pg-power">
                        </i>
                    </span>
                </a>
                <!--         <span class="semi-bold">Admin</span> 
 -->
            </div>
            <!-- <div class="dropdown pull-right"> -->
            <!-- <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
            <!-- <span class="thumbnail-wrapper d32 circular inline m-t-5">
          <img src="assets/img/avatar.png" alt="" data-src="assets/img/avatar.png" width="32" height="32">
      </span> -->
            <!-- </button> -->
            <!-- <ul class="dropdown-menu profile-dropdown" role="menu">
          <li class="bg-master-lighter">
            
          </li>
        </ul> -->
            <!-- </div> -->
        </div>
        <!-- END User Info-->
    </div>
</div>
