<div class="login-wrapper" style="background:#3e4155;">
    <!-- START Login Background Pic Wrapper-->
    <div class="bg-pic">
        <div class="text-center text-white">
            <h2 class="tool-disabled semi-bold text-white">
                Your Product Design Tool is Disabled
            </h2>
        </div>
        <!-- START Background Caption-->
        <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
            <img alt="" src="assets/img/inkxe-logo.png"/>
            <h2 class="semi-bold text-white">
                <xe-translate text-value="inkXE Product Design Tool Admin">
                </xe-translate>
            </h2>
            <p>
                <xe-translate text-value="Demo Clients">
                </xe-translate>
                <a href="mailto:info@inkxe.com">
                    info@inkxe.com
                </a>
            </p>
        </div>
        <!-- END Background Caption-->
    </div>
    <!-- END Login Background Pic Wrapper-->
</div>