.tools-index-index {
  .tools-list {
    display: block;
    list-style: none;
    margin: 40px 0;
    padding: 0;

    li {
      border-radius: 3px;
      box-shadow: 0 1px 1px 1px #aaa;
      box-sizing: border-box;
      cursor: pointer;
      display: inline-block;
      float: left;
      margin: 0;
      padding: 12px;
      text-align: center;
      width: 25%;
      transition: all 0.5s ease-in-out;
      &:hover {
        background: $ss-green;
        a {
          color: #f8f8f8;
        }
      }

      a {
        display: block;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

/** Tablets -----------------------------------------------------------------*/
@media screen and (max-width: $screen-md) {
  .tools-index-index {
    .tools-list {
      li {
        width: 33%;
      }
    }
  }
}

/** Mobile ------------------------------------------------------------------*/
@media screen and (max-width: $screen-sm) {
  .tools-index-index {
    .tools-list {
      li {
        width: 100%;
      }
    }
  }
}
