<!--
    preloader start
-->
<div class="panel panel-default" ng-hide="preloader">
    <div class="graphics-wrap-height">
        <div class="panel-body text-center">
            <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/progress/progress-circle-master.svg" alt="Progress"/>
        </div>
    </div>
</div>
<!-- preloader end -->
<div class="panel panel-default" ng-show="preloader">
    <div class="loader-OnUpdate" pg-portlet on-refresh="refreshTest('.loader-OnUpdate')">
        <div class="panel-body">
            <div class="col-sm-3 b-r-light">
                <div class="panel-heading padding-0">
                    <div class="panel-title">
                        <xe-translate text-value="Preview">
                        </xe-translate>
                    </div>
                </div>
                <div class="gallery-upload-thumb" ng-hide="isSelectedPaletteVisible">
                    <span>
                        {{ fileCount }} files selected
                    </span>
                </div>
                <div class="clearfix" ng-show="isSelectedPaletteVisible">
                    <div class="pull-left m-r-10 m-t-50" ng-if="editPalette.isPattern == 0">
                        <spectrum-colorpicker ng-model="colorPic"  options="{showInput: true,  showAlpha: false}" format="'hex'"  on-hide="onColorUpdate(color)">
                        </spectrum-colorpicker>
                    </div>
                    <div class="pull-left m-r-10" ng-if="editPalette.isPattern == 2">
                        <table>
                            <tr>
                                <td>
                                    <b>
                                        C
                                    </b>
                                    &nbsp;
                                </td>
                                <td>
                                    <input class="form-control input-sm m-b-5" id="c" type="text" size="3" maxlength="3" ng-model="cmyk.c"  ng-change="toRGB()" ng-keyup="toRGB()" number-only="number-only"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>
                                        M
                                    </b>
                                    &nbsp;
                                </td>
                                <td>
                                    <input class="form-control input-sm m-b-5" id="m" type="text" size="3" maxlength="3" ng-model="cmyk.m"  ng-change="toRGB()" ng-keyup="toRGB()" number-only="number-only"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>
                                        Y
                                    </b>
                                    &nbsp;
                                </td>
                                <td>
                                    <input class="form-control input-sm m-b-5" id="y" type="text" size="3" maxlength="3" ng-model="cmyk.y"  ng-change="toRGB()" ng-keyup="toRGB()" number-only="number-only"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>
                                        K
                                    </b>
                                    &nbsp;
                                </td>
                                <td>
                                    <input class="form-control input-sm m-b-5" id="k" type="text" size="3" maxlength="3" ng-model="cmyk.k"  ng-change="toRGB()" ng-keyup="toRGB()" number-only="number-only"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="gallery-upload-thumb m-l-80" ng-show="isSelectedPaletteVisible">
                        <img class="img-responsive" ng-if="editPalette.isPattern==1" ng-src="{{ palettePath+editPalette.value }}"/>
                        <div ng-if="editPalette.isPattern == 0" style="background-color:{{ editPalette.value }};;height:85px;width:85px;">
                        </div>
                        <div ng-if="editPalette.isPattern == 2" style="background-color:{{ cmyk.hexValue }};width:85px;height:85px;">
                        </div>
                    </div>
                </div>
                <span class="m-l-80" ng-show="editPalette.isPattern == 0 && isSelectedPaletteVisible">
                    <xe-translate text-value="Hex Code">
                    </xe-translate>
                    : {{ editPalette.value }}
                </span>
            </div>
            <div class="col-sm-4">
                <div class="panel-heading p-t-0">
                    <div class="panel-title">
                        <xe-translate text-value="Properties">
                        </xe-translate>
                    </div>
                </div>
                <form id="form-personal" role="form" autocomplete="off" class="p-l-20 p-r-20">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default required" pg-form-group>
                                <label>
                                    <xe-translate text-value="Name">
                                    </xe-translate>
                                </label>
                                <input type="text" class="form-control" name="Name" ng-model="editPalette.name" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-8">
                            <div class="form-group form-group-default" pg-form-group>
                                <label>
                                    Price
                                </label>
                                <input type="text" class="form-control" name="Name" ng-model="editPalette.price" money required/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-4 b-l-light">
                <div class="panel-heading p-t-0">
                    <div class="panel-title">
                        <xe-translate text-value="Assign Category">
                        </xe-translate>
                    </div>
                    <span style='color:red;'>
                        *
                    </span>
                </div>
                <div class="clearfix p-l-20 p-r-20 m-b-10" ng-repeat="elem in editCategoryElms">
                    <div class="btn-group pull-left m-r-20">
                        <button type="button" class="btn btn-default text-ellipsis"  data-toggle="dropdown" style="width:141px">
                            {{ elem.category }}
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret">
                            </span>
                            <span class="sr-only">
                                Toggle Dropdown
                            </span>
                        </button>
                        <ul class="dropdown-menu" role="menu" ng-class="{'button-scroll':paletteCategoryList.length> 4}" style="width:166px">
                            <!-- <li ng-click="editCategorySelected('All Categories',$index)">
                                    <a href=""><xe-translate text-value="All Categories"></a>
                              </li> -->
                            <li ng-repeat="categoryItem in paletteCategoryList" ng-click="editCategorySelected(categoryItem,$parent.$index)" ng-show="categoryItem.category_name != elem.category">
                                <a href="">
                                    {{ categoryItem.category_name }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-info btn-xs" type="button" ng-click="removeEditCategoryElms($index)">
                            <i class="fa fa-times">
                            </i>
                        </button>
                    </div>
                </div>
                <button class="btn btn-success btn-xs m-r-20 pull-right" type="button" ng-click="addEditCategoyElm()">
                    <i class="fa fa-plus">
                    </i>
                </button>
            </div>
            <!-- <div class="col-sm-3 b-l-light">
                <div class="panel-heading p-t-0">
                    <div class="panel-title"><xe-translate text-value="Printing Methods"></xe-translate></div>
                </div>        
                <form id="form-personal" role="form" autocomplete="off" class="p-l-20 p-r-20">
                  <div class="row clearfix">
                    <div class="col-sm-8"> 
                        <div class="checkbox check-success" ng-repeat="editPrint in printMethodList">
                            <input type="checkbox" id="editPrint_{{editPrint.id}}" ng-model="editPrintType[$index]" 
                                ng-change="changedPrints(editPrintType[$index],editPrint)">
                            <label for="editPrint_{{editPrint.id}}">{{editPrint.name}}</label>
                        </div>
                    </div>
                  </div>
                </form>
            </div> -->
        </div>
        <div class="panel-footer padding-10 b-t-none clearfix">
            <div class="pull-right">
                <button class="btn btn-primary btn-sm" type="button" ng-click="saveEditPaletteData()" ng-class="{'disabled': !editPalette.name}" ng-disabled="demoStatus">
                    <xe-translate text-value="Save">
                    </xe-translate>
                </button>
                <button class="btn btn-primary btn-sm" type="button" ng-click="cancelEditPallete()">
                    <xe-translate text-value="Cancel">
                    </xe-translate>
                </button>
            </div>
        </div>
    </div>
</div>
