.ss-banner {
  background: url('/pub/images/printing-and-design.jpg') repeat-x;
  box-shadow: 0px 3px 6px #aaa;
  width: 100%;

  .ss-banner_inner {
    width: 100%;
    max-width: 900px;
    min-width: 300px;
    margin: 0 auto;
    position: relative;
    height: $banner-height;

    h1 {
      width: 50%;
      min-width: 280px;
      float: left;
      color: #f8f8f8;
      text-shadow: 1px 1px 2px #891a1b;
      @include vertical-align();
    }

    .ss-banner_model {
      width: 50%;
      min-width: 280px;
      float: left;
      height: 481px;
      @include vertical-align();
    }
  }
}