.page-footer {
  background: url('/pub/images/screenshots-printing.jpg');
  color: #cccccc;
  padding: 30px 0;
  border-top: 2px solid #ef2b2d;
}

.footer.content {
  .widget {
    margin: 0;
  }

  .links {
    li {
      background: #111;
    }

    a {
      color: #fff;
      &:visited,
      &:hover,
      &:active {
        color: #fff;
      }
    }
  }

  .social-icons {
    float: right;
    display: block;
    list-style: none;
    margin-bottom: 10px;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 10px;
      font-size: 18pt;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .block.newsletter {
    margin-bottom: 20px;
  }

  #siteseal {
    width: 120px;
    overflow: hidden;
    display: inline-block;

    img {
      width: 131px;
      height: auto;
      max-width: none !important;
      display: block;
    }
  }
}

.copyright {
  background: #111;
  color: #aaa;
}

.ss-subfooter {
  background: url(/pub/images/screenshots-printing.jpg);
  padding: 6px 20px;
  width: 100%;
  position: relative;
  left: -20px;
  right: 0;
  border-radius: 2px 2px 0 0;

  ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      width: 33.3%;
      display: inline-block;
      float: left;
      margin: 0;
      padding: 6px 0;

      img {
        float: left;
        width: 15%;
        height: auto;
      }

      p {
        box-sizing: border-box;
        padding: 0 6px;
        float: left;
        width: 85%;
        color: #fff;
        font-weight: 600;
        font-size: 12px;

        a {
          color: #fff;
          cursor: pointer;
          font-weight: 400;
          &:hover,
          &:visited,
          &:active {
            color: #fff;
            text-decoration: none;
          }
        }

        span {
          display: block;
          margin-top: 3px;
          border-top: 1px solid #333;
          padding: 3px;
          font-weight: 400;
        }
      }
    }
  }
}

/** Tablets -----------------------------------------------------------------*/
@media screen and (max-width: $screen-md) {
  .page-footer {
    margin-top: 0;
  }

  .footer.content {
    border: 0;
  }

  .footer.content .links {
    li {
      border: 0;
      text-align: center;
    }
  }

  .footer.content .social-icons {
    float: none;
    text-align: center;
  }
}

/** Mobile ------------------------------------------------------------------*/
@media screen and (max-width: $screen-sm) {
  .ss-subfooter {
    ul {
      li {
        text-align: center;
        width: 100%;
        display: block;

        img {
          display: block;
          margin-bottom: 4px;
          float: none;
          margin: 0 auto;
        }

        p {
          float: none;
          width: 100%;

          span {
            border-top: 0;
            border-bottom: 1px solid #333;
          }
        }
      }
    }
  }
}
