.page-bottom,
.page-wrapper>.page-bottom {
  width: 100%;
  padding: 0;

  .block-static-block.widget,
  .block-cms-link.widget {
    margin-bottom: 0;
  }
}

.page-footer {
  background: url('/pub/images/screenshots-printing.jpg');
  color: #cccccc;
  padding:0;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;

  .column.main {
    min-height: auto;
    max-width: 1280px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    float: none;
    box-sizing: border-box;
  }

  .footer-content {
    padding: 30px 0;
  }

  .footer-block,
  .contact-block,
  .social-block {
    color: #666;

    h5 {
      display: block;
      clear: both;
      margin-bottom: 6px;
      color: #333;
      font-size: 2rem;
    }
  }

  .footer-block {
    width: 15%;
    display: inline-block;
    float: left;

    .link-list {
      width: 100%;
      display: inline-block;
      float: left;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        a {
          color: #fff;
          &:visited,
          &:hover,
          &:active {
            color: #fff;
          }
        }
      }
    }
  }

  .contact-block {
    width: 30%;
    display: inline-block;
    float: left;

    .link-list {
      width: 100%;
      display: inline-block;
      float: left;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        a {
          color: #fff;
          &:visited,
          &:hover,
          &:active {
            color: #fff;
          }
        }
      }
    }
  }

  .social-block {
    width: 40%;
    display: inline-block;
    float: right;

    .social-list {
      width: auto;
      max-width: 100%;
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 10px;
        font-size: 18pt;
        &:last-of-type {
          margin-right: 0;
        }
      }

      #facebookIcon,
      #twitterIcon,
      #pinterestIcon,
      #linkedInIcon,
      #yelpIcon {
        width: 32px;
        height: 32px;
      }

      #facebookIcon {
        background: url('/pub/images/social/icons/spritesheet.png') 0 0;
      }

      #twitterIcon {
        background: url('/pub/images/social/icons/spritesheet.png') 99px 0;
      }

      #pinterestIcon {
        background: url('/pub/images/social/icons/spritesheet.png') 33px 0;
      }

      #linkedInIcon {
        background: url('/pub/images/social/icons/spritesheet.png') 132px 0;
      }

      #yelpIcon {
        background: url('/pub/images/social/icons/spritesheet.png') 66px 0;
      }
    }

    .newsletter-signup {
      display: block;
      clear: both;

      input {
        margin-bottom: 12px;
      }

      button {
        float: right;
      }
    }

    #siteseal {
      width: 120px;
      overflow: hidden;
      display: inline-block;

      img {
        width: 131px;
        height: auto;
        max-width: none !important;
        display: block;
      }
    }
  }

  .copyright {
    background: #181818;
    color: #aaa;
    padding: 12px 0;
  }
}

.ss-subfooter {
  background: url(/pub/images/screenshots-printing.jpg);
  padding: 6px 20px;
  width: 100%;
  border-radius: 2px 2px 0 0;
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;

  ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      width: 33.3%;
      display: inline-block;
      float: left;
      margin: 0;
      padding: 6px 0;

      img {
        float: left;
        width: 15%;
        height: auto;
      }

      p {
        box-sizing: border-box;
        padding: 0 6px;
        float: left;
        width: 85%;
        color: #fff;
        font-weight: 600;
        font-size: 12px;

        a {
          color: #fff;
          cursor: pointer;
          font-weight: 400;
          &:hover,
          &:visited,
          &:active {
            color: #fff;
            text-decoration: none;
          }
        }

        span {
          display: block;
          margin-top: 3px;
          border-top: 1px solid #333;
          padding: 3px;
          font-weight: 400;
        }
      }
    }
  }
}

/** Tablets -----------------------------------------------------------------*/
@media screen and (max-width: $screen-md) {
  .page-footer {
    margin-top: 0;
    padding: 20px;

    .footer-block,
    .contact-block,
    .social-block {
      width: 100%;
      text-align: center;

      .social-list {
        width: 100%;
        float: none;
        text-align: center;
        li {
          float: none;
        }
      }
    }
  }
}

/** Mobile ------------------------------------------------------------------*/
@media screen and (max-width: $screen-sm) {
  .ss-subfooter {
    ul {
      li {
        text-align: center;
        width: 100%;
        display: block;

        img {
          display: block;
          margin-bottom: 4px;
          float: none;
          margin: 0 auto;
        }

        p {
          float: none;
          width: 100%;

          span {
            border-top: 0;
            border-bottom: 1px solid #333;
          }
        }
      }
    }
  }
}
