.page-header {
  background: #f0f0f0;
  .panel.wrapper {
    color: #f8f8f8;
    border-bottom: 1px solid #fff;
    box-shadow: 0px 1px 0px 0px #ccc;
    font-family: Roboto;
    background: #133d34;
    font-weight: 200;


    .greet.welcome {
      float: left;
    }

    .panel.header {
      padding: 3px 20px;

      .links {
        width: 100%;
        text-align: right;

        li {
          margin: 0;
          line-height: 22px !important;
        }

        a {
          color: #f8f8f8;
          &:visited {
            color: #f8f8f8
          }
        }

        .authorization-link:after {
          margin: 0 5px;
        }

        .support-link {
          margin-left: 10px;
          padding: 0 0 0 8px;
          border-left: 1px solid #1d5d4f;
          float: right;
          border-radius: 2px;
          box-sizing: border-box;
        }
      }
    }
  }

  .header.content {
    padding: 12px 20px;

    .logo {
      margin: 0;
    }

    .minicart-wrapper,
    .block-search {
      margin-top: 15px;
    }

    .minicart-wrapper .action.showcart:before {
      font-family: FontAwesome;
      content: '\f07a';
    }
  }

  a {
      color: #f8f8f8 !important;
      &:visited { color: #f8f8f8 !important; }
      &:hover { color: #f8f8f8 !important; }
      &:active { color: #f8f8f8 !important; }
  }
}

.ss-top-contacts {
  font-size: 14px;
  float: left;

  span {
    margin-right: 6px;
    i {
      margin-right: 4px;
    }
  }
}

/** Tablets -----------------------------------------------------------------*/
@media screen and (max-width: $screen-md) {
  .page-header {
    margin-bottom: 0;

    .header.content {
      height: 80px;

      .logo {
        margin: 0 0 10px 40px;
      }
    }
  }
}

/** Mobile ------------------------------------------------------------------*/
@media screen and (max-width: $screen-sm) {
  .page-header {
    .header.content {
      height: auto;
      padding: 10px 20px;

      .block-search,
      .minicart-wrapper {
        margin-top: 5px;
      }
    }
  }
}
