.nav-sections {
  background: #f8f8f8;
  box-shadow: 0 0 2px #999;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 0;

  .level0 > .level-top {
    line-height: 40px;
  }

  .navigation {
    background: none;
  }
}

.breadcrumbs {
  margin-top: 20px;
}