@media screen and (min-width: $screen-md) {
  .nav-sections {
    box-shadow: 0 1px 3px #666;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
    border-top-style: groove;
    border-top-width: 0;
    border-color: #036c47;
    z-index: 10;

    .navigation {
      background: none;

      .level0 > .level-top {
        line-height: 40px;
        color: #024930;
        font-weight: 300;
        font-family: Roboto;
        font-size: 14px;
        cursor: pointer;

        a {
          display: block;
          color: #024930;
          &:hover {
            color: #024930;
          }
        }
      }

      .level0 {
        cursor: pointer;
        &:hover {
          background: #ddd;
        }

        &.parent {
          &:after {
            content: "\f0d7";
            font-family: FontAwesome;
            color: #024930;
            position: relative;
            right: 9px;
            top: -1px;
            font-size: 10px;
          }
        }

        .submenu {
          background: #fff;
        }
      }

      .level0.active > .level-top, .navigation .level0.has-active > .level-top {
        border-color: #024930;
      }

      .level1 {
        position: relative;
      }

      .level1.submenu {
        display: inline-block;
        left: 0px;
        position: absolute;
        top: 0 !important;
        margin: 0;
        padding: 0;
      }
    }
  }

  .breadcrumbs {
    margin-top: 20px;
  }

  li.parent:hover ul.level0{display: block;}
}
