<div aria-hidden="false" class="modal fade slide-up disable-scroll" id="warningModalproduct" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content modal-box-shadow">
                <div class="modal-body text-center m-t-20">
                    <h5 class="no-margin p-b-20">
                        {{warningMessage1}}
                    </h5>
                    <div class="clearfix">
                        <button class="btn btn-success btn-cons pull-left" data-dismiss="modal" ng-click="onProductWarningModalConfirm()" type="button">
                            Continue
                        </button>
                        <button class="btn btn-danger btn-cons m-r-0" data-dismiss="modal" type="button">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>