@font-face {
								font-family: 'Lintsec';
								src: url('Lintsec.ttf')  format('truetype');
							}@font-face {
								font-family: 'ChunkFive_Roman';
								src: url('ChunkFive_Roman.ttf')  format('truetype');
							}@font-face {
							font-family: 'Action_Is';
							src: url('Action_Is.ttf')  format('truetype');
						}