<div class="container-fluid" ng-init="init()" ng-controller="ProductController">
    <!-- <xe-translate text-value="PRODUCT"></xe-translate> -->
    <div class="panel panel-transparent">
        <div class="panel-body">
            <!-- <ng-include src="'modules/product/views/partials/productAddition.html'" 
                 ng-show="isUploadViewActive"> -->
            <ng-include src="'modules/product/views/partials/productAddWizard.html'">
            </ng-include>
            <!--category list dropdown-->
            <div class="btn-group" ng-show="categoryDropDown">
                <button type="button" class="btn btn-default text-ellipsis"  data-toggle="dropdown" style="width: 180px;" ng-disabled="!dataLoaded">
                    {{ selectedItem }}
                </button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="!dataLoaded">
                    <span class="caret">
                    </span>
                    <span class="sr-only">
                        Toggle Dropdown
                    </span>
                </button>
                <ul class="dropdown-menu" role="menu" style="width: 207px;" ng-class="{'button-scroll':categoryList.length> 4}">
                    <li ng-repeat="category in categoryList" ng-click="selectedCatagory($index)">
                        <a href="">
                            {{ category.name }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="btn-group" ng-show="categoryDropDown">
                <input type="text" placeholder="Enter search tag" style="width:150px" class="input-sm form-control pull-left m-r-10" name="start" id="searchId" pg-form-group="" ng-model="searchValue"/>
                <div class="pull-left">
                    <button type="button" class="btn btn-default btn-sm" id="searchBtn" ng-click="searchProductOnKeyUp(searchValue)" ng-disabled="demoStatus || !searchValue || !dataLoaded">
                        <span>
                            <xe-translate text-value="Search">
                            </xe-translate>
                        </span>
                    </button>
                </div>
            </div>
            <!--  <div class="btn-group padding-0 pull-right" ng-show="categoryDropDown">
                     <button type="button" class="btn btn-success btn-sm btn-cons from-top"
                         ng-click="addNewProduct()">
                         <span><xe-translate text-value="Add New Product"></xe-translate></span>
                     </button>
             </div> -->
            <!--preloader-->
            <div class="col-lg-12 bg-white" ng-hide="dataLoaded">
                <div class="product-wrap-height">
                    <div class="panel-body text-center">
                        <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/demo/progress.svg" alt="Progress"/>
                        <span class="loader-label">
                            <xe-translate text-value="Please wait products loading">
                            </xe-translate>
                            ...
                        </span>
                    </div>
                </div>
            </div>
            <!--product list-->
            <div ng-show="productsList" class="product-list panel panel-default m-t-10">
                <div class="table-responsive" ng-show="dataLoaded">
                    <table class="table table-hover table-condensed" id="id_Table" ui-options="options">
                        <thead>
                            <tr>
                                <th style="width:36%">
                                    <xe-translate text-value="Product Image">
                                    </xe-translate>
                                </th>
                                <th style="width:100%" ng-click="sortProductList('name')">
                                    <xe-translate text-value="Product Name">
                                    </xe-translate>
                                    <span class="sortorder" ng-class="{reverse:reverse}">
                                    </span>
                                </th>
                                <th style="width:100%" ng-click="sortProductList('description')">
                                    <xe-translate text-value="Description">
                                    </xe-translate>
                                    <span class="sortorder" ng-class="{reverse:reverse}">
                                    </span>
                                </th>
                                <!-- <th style="width:50%" ng-click="sortProductList('price')">
                                    <xe-translate text-value="Product Price"></xe-translate>
                                    <span class="sortorder" ng-class="{reverse:reverse}"></span>
                                </th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="product in productList" ng-click="selectedProduct($index)">
                                <td class="v-align-middle semi-bold">
                                    <a href="" class="v-align-middle pull-left no-margin">
                                        <img class="w-70" ng-src="{{ product.thumbnail }}"/>
                                    </a>
                                </td>
                                <td class="v-align-middle">
                                    <p class="text-ellipsis" tooltip-append-to-body="true" tooltip= "{{ product.name }}" tooltip-trigger="{{ getProductInfoPop(product.name) }}" tooltip-placement="top">
                                        {{ product.name }}
                                    </p>
                                </td>
                                <td class="v-align-middle semi-bold">
                                    <p class="text-ellipsis" tooltip-append-to-body="true" tooltip= "{{ product.description }}" tooltip-placement="top" tooltip-trigger="{{ getProductInfoPop(product.description) }}">
                                        {{ product.description }}
                                    </p>
                                </td>
                                <!-- <td class="v-align-middle semi-bold">
                                    <p class="text-ellipsis">
                                      {{product.price | currency : '' : fractionSize}}
                                    </p>
                                </td> -->
                            </tr>
                            <tr ng-show="showNoResultMsg">
                                <td colspan="4" align="center">
                                    <p class="font-normal text-lg">
                                        <xe-translate text-value="No Products found">
                                        </xe-translate>
                                        <span class="m-l-20">
                                            <a ng-click="selectedCatagory('0')">
                                                <xe-translate text-value="Back to all products">
                                                </xe-translate>
                                            </a>
                                        </span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-show="isLoadMore">
            <div class="panel-body text-center">
                <button type="button" class="btn btn-default btn-cons" ng-click="loadMoreProducts()" ng-show="isLoadMore" ng-disabled="loadMore">
                    <xe-translate text-value="LOAD MORE">
                    </xe-translate>
                </button>
                <img class="image-responsive-height demo-mw-30 page-loader" src="assets/img/demo/progress.svg" alt="Progress" ng-show="loadMore"/>
            </div>
        </div>
    </div>
    <!--selected product data loaded preloader-->
    <div class="row">
        <div class="col-lg-12 bg-white" ng-show="showLoader">
            <div class="product-wrap-height">
                <div class="panel-body text-center">
                    <img class="image-responsive-height demo-mw-50 page-loader"  src="assets/img/demo/progress.svg" alt="Progress"/>
                    <span class="loader-label">
                        <xe-translate text-value="Please wait product detail loading">
                        </xe-translate>
                        ...
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--Selected product view-->
    <ng-include src="'modules/product/views/partials/selectedproduct.html'" ng-show="productData">
    </ng-include>
    <!-- <ng-include src="'modules/product/views/partials/featuresetting.html'"></ng-include> -->
    <ng-include src="'modules/product/views/partials/additionalprice.html'">
    </ng-include>
    <!-- <ng-include src="'modules/product/views/partials/assignTemplate.html'"></ng-include> -->
    <ng-include src="'modules/product/views/partials/printtypesetting.html'">
    </ng-include>
    <ng-include src="'modules/product/views/partials/addCustomSize.html'">
    </ng-include>
    <ng-include src="'modules/product/views/partials/sizevariantprice.html'">
    </ng-include>
    <ng-include src="'modules/product/views/partials/addCustomMask.html'">
    </ng-include>
    <ng-include src="'modules/product/views/partials/discountSetting.html'">
    </ng-include>
    <ng-include src="'modules/product/views/partials/whitebaseSetting.html'">
    </ng-include>
    <ng-include src="'modules/product/views/partials/templateAssignModal.html'">
    </ng-include>
    <ng-include src="'modules/product/views/partials/unitSetting.html'">
    </ng-include>
</div>
