<!--
    <div class="panel panel-default">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator nav-stack-sm">
                    <li ng-class="getCurrentStep(1)">
                        <a ng-click="goToStep(1)">
                            <span>
                                <xe-translate text-value="Product">
                                </xe-translate>
                            </span>
                        </a>
                    </li>
                    <li ng-class="getCurrentStep(2)">
                        <a  ng-click="goToStep(2)">
                            <span>
                                <xe-translate text-value="Color">
                                </xe-translate>
                            </span>
                        </a>
                    </li>
                    <li ng-class="getCurrentStep(3)">
                        <a  ng-click="goToStep(3)">
                            <span>
                                <xe-translate text-value="Size">
                                </xe-translate>
                            </span>
                        </a>
                    </li>
                    <li ng-class="getCurrentStep(4)">
                        <a  ng-click="goToStep(4)">
                            <span>
                                <xe-translate text-value="Finish">
                                </xe-translate>
                            </span>
                        </a>
                    </li>
                </ul>
            -->
            <!--edit print profile name/icon view  -->
            <!--   <ng-include src="'modules/product/views/partials/'+nextPage+'.html'"></ng-include>
                    </div>
                  </div>
            </div> -->
            <div class="modal fade stick-up" id="productAddModal" pg-portlet tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-body">
                    <div class="modal-dialog modal-xlg" id="productAddModalNotification">
                        <div class="modal-content">
                            <div class="modal-header clearfix text-left">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    <i class="pg-close fs-14">
                                    </i>
                                </button>
                                <h5>
                                    <span class="semi-bold">
                                        <xe-translate text-value="{{ productAddLabel }}">
                                        </xe-translate>
                                    </span>
                                </h5>
                            </div>
                            <div class="modal-body">
                                <div class="panel panel-default">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator nav-stack-sm">
                                                <li ng-class="getCurrentStep(1)" ng-show="productTabShow">
                                                    <a ng-click="goToStep(1)">
                                                        <span>
                                                            <xe-translate text-value="Product">
                                                            </xe-translate>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li ng-class="getCurrentStep(2)">
                                                    <a  ng-click="goToStep(2)">
                                                        <span>
                                                            <xe-translate text-value="Color">
                                                            </xe-translate>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li ng-class="getCurrentStep(3)">
                                                    <a  ng-click="goToStep(3)">
                                                        <span>
                                                            <xe-translate text-value="Size">
                                                            </xe-translate>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li ng-class="getCurrentStep(4)">
                                                    <a  ng-click="goToStep(4)">
                                                        <span>
                                                            <xe-translate text-value="Finish">
                                                            </xe-translate>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <!--edit print profile name/icon view  -->
                                            <ng-include src="'modules/product/views/partials/'+nextPage+'.html'">
                                            </ng-include>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
