<form class="form-horizontal" role="form" autocomplete="off">
    <div class="form-group no-border">
        <label class="col-sm-2 control-label">
            <xe-translate text-value="Color Group Price">
            </xe-translate>
        </label>
        <div class="col-sm-3">
            <div class="clearfix m-t-10" ng-show="printSettings.is_color_group_price == '1'">
                <div class="pull-left m-r-10">
                    <div class="color-pick m-b-5" ng-repeat="colorGroup in colorGropList">
                        <img ng-if="colorGroup.is_pattern == 1" ng-src="{{ palettePath+colorGroup.value }}" height="30" width="30"/>
                        <div ng-if="colorGroup.is_pattern == 0" ng-style="{'background-color':colorGroup.value,'height':'30px','width':'30px'}">
                        </div>
                    </div>
                    <div class="cbtn-block">
                        <button class="btn btn-sm btn-success btn-addon m-t-5" ng-click="showColorListModal()"  ng-disabled="demoStatus">
                            <xe-translate text-value="Add colors">
                            </xe-translate>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-default input-group nested-form-group w-250 m-t-10 m-l-0" pg-form-group>
                <label>
                    <xe-translate text-value="Price">
                    </xe-translate>
                </label>
                <input type="text" class="form-control usd" aria-invalid="false" placeholder="Enter price"  ng-model="colorGroupPrice.price" price-only="price-only"/>
                <span class="input-group-addon">
                    {{ appCurrency }}
                </span>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="clearfix" ng-show="printSettings.is_color_group_price == '1'">
                <label class="col-sm-3 m-t-20 m-r-10">
                    <xe-translate text-value="Other Colors">
                    </xe-translate>
                </label>
                <div class="col-sm-9 form-group form-group-default input-group nested-form-group w-250" pg-form-group>
                    <label>
                        <xe-translate text-value="Price">
                        </xe-translate>
                    </label>
                    <input type="text" class="form-control usd" aria-invalid="false" placeholder="Enter price" ng-model="printSettings.other_color_group_price" price-only="price-only"/>
                    <span class="input-group-addon">
                        {{ appCurrency }}
                    </span>
                </div>
            </div>
            <div class="clearfix m-t-10" ng-show="printSettings.is_color_group_price == '1'">
                <label class="col-sm-3 m-t-20 m-r-10">
                    <xe-translate text-value="Screen Cost">
                    </xe-translate>
                </label>
                <div class="col-sm-9 form-group form-group-default input-group nested-form-group w-250" pg-form-group>
                    <label>
                        <xe-translate text-value="Price">
                        </xe-translate>
                    </label>
                    <input type="text" class="form-control usd" aria-invalid="false" placeholder="Enter price" ng-model="printSettings.screen_cost" price-only="price-only"/>
                    <span class="input-group-addon">
                        {{ appCurrency }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>
