.app-container {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  /******************************************************************************
  | Utilties
  ******************************************************************************/ }
  .app-container h3 {
    margin: 0 1%;
    font-family: Roboto;
    font-size: 12pt;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
    margin-bottom: 6px; }
  .app-container .input-section,
  .app-container .buttons,
  .app-container .results {
    float: none;
    clear: both;
    display: block;
    width: 100%;
    margin: 0 0 12px 0; }
    .app-container .input-section:after,
    .app-container .buttons:after,
    .app-container .results:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0; }
  .app-container .buttons {
    margin: 20px 0; }
  .app-container .input-block {
    width: 48%;
    margin: 0 1%;
    float: left;
    padding: 6px 0;
    box-sizing: border-box; }
  .app-container .input-block--full {
    width: 48%;
    display: block;
    float: none; }
  .app-container .input-block--third {
    width: 31%; }
  .app-container .input-block--fourth {
    width: 23%; }
  .app-container label {
    display: block;
    text-transform: uppercase;
    font-size: 10pt;
    margin: 0 3px 0 0;
    padding: 0;
    position: relative;
    font-family: Roboto; }
  .app-container .label-help {
    float: right;
    text-transform: none;
    border-radius: 50%;
    background: #024930;
    color: #f8f8f8;
    width: 15px;
    height: 15px;
    text-align: center; }
  .app-container .label-help:hover + .label-help-panel {
    display: block; }
  .app-container .label-help-panel {
    display: none;
    position: absolute;
    left: 0;
    top: 20px;
    padding: 20px;
    background: #f8f8f8;
    box-shadow: 0 1px 2px #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    z-index: 999;
    font-size: 10pt;
    text-transform: none;
    border: 1px inset #aaa; }
  .app-container .label-help-panel ul {
    margin: 10px 0;
    padding: 0;
    list-style: none;
    font-size: 9pt; }
  .app-container input, .app-container select, .app-container textarea {
    display: inline-block;
    margin: 6px 0;
    padding: 4px;
    width: 100%;
    border-radius: 3px;
    border: 0;
    box-shadow: 0px 0px 1px #aaa;
    box-sizing: border-box;
    height: 32px; }
  .app-container option {
    padding: 4px; }
  .app-container .result-block {
    padding: 10px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 10pt;
    margin: 2px 0;
    width: 50%;
    float: left; }
  .app-container .wholesaleResult {
    color: #666;
    background: #ddd; }
  .app-container .retailResult {
    color: #f8f8f8;
    background: #ef2b2d; }
  .app-container .result-price {
    float: right; }
  .app-container .btn {
    box-shadow: 0px 0px 1px #aaa;
    color: #f8f8f8;
    background: #036140;
    padding: 12px;
    text-align: center;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Roboto;
    cursor: pointer;
    font-size: 22px;
    position: relative;
    overflow: hidden;
    border-bottom: 4px solid #012f1f; }
    .app-container .btn:after {
      content: "";
      position: absolute;
      top: -110%;
      left: -210%;
      width: 200%;
      height: 200%;
      opacity: 0;
      transform: rotate(30deg);
      background: rgba(255, 255, 255, 0.13);
      background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%); }
    .app-container .btn:hover {
      background: #036140;
      border-bottom-width: 2px;
      margin-top: 2px;
      text-decoration: none; }
    .app-container .btn:hover:after {
      opacity: 1;
      top: -30%;
      left: 30%;
      transition-property: left, top, opacity;
      transition-duration: 0.7s, 0.7s, 0.15s;
      transition-timing-function: ease; }
  .app-container .right {
    float: right; }
  .app-container .left {
    float: left; }
  @media screen and (max-width: 600px) {
    .app-container .input-block {
      width: 100%; } }

/** Tablets -----------------------------------------------------------------*/
/** Mobile ------------------------------------------------------------------*/
@media screen and (max-width: 320px) {
  .app-container .result-block {
    width: 100%;
    float: none; } }

/*# sourceMappingURL=app.css.map */
