<div class="container-fluid" ng-controller="swatchController">
    <div class="col-sm-12" ng-init="init()">
        <!-- Added Button -->
        <div class="panel panel-transparent" ng-show="isAddNewButton && isStore">
            <div class="panel-body padding-0">
                <button type="button" class="btn btn-info btn-sm btn-cons" ng-click="addNewColor()">
                    <span>
                        <xe-translate text-value="Add New Color">
                        </xe-translate>
                    </span>
                </button>
                <xe-translate text-value="color button desc">
                </xe-translate>
                <p class="small m-t-10">
                    <xe-translate text-value="color swatch desc">
                    </xe-translate>
                </p>
            </div>
        </div>
        <ng-include src="'modules/colorSwaches/views/partials/addColorView.html'" ng-show="isAddViewActive">
        </ng-include>
        <ng-include src="'modules/colorSwaches/views/partials/editColorView.html'" ng-show="isEditViewActive">
        </ng-include>
        <!-- preloader start -->
        <div class="panel panel-default" ng-show="preloader">
            <div class="graphics-wrap-height">
                <div class="panel-body text-center">
                    <img class="image-responsive-height demo-mw-50 page-loader" src="assets/img/progress/progress-circle-master.svg" alt="Progress"/>
                    <span style="position: absolute;top:44%;right:40%;">
                        <xe-translate text-value="Loading color variants of products">
                        </xe-translate>
                        ...
                    </span>
                </div>
            </div>
        </div>
        <!-- preloader end -->
        <div class="panel panel-default" ng-hide="preloader">
            <div class="panel-heading separator">
                <div class="panel-title">
                    <xe-translate text-value="Product color options">
                    </xe-translate>
                </div>
            </div>
            <div class="panel-body m-t-20">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive custom-table" ng-if="optionList.length> 0">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <xe-translate text-value="Swatch Color Name">
                                            </xe-translate>
                                        </th>
                                        <th>
                                            <xe-translate text-value="Swatch View">
                                            </xe-translate>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="option in optionList">
                                        <td>
                                            {{ option.label }}
                                        </td>
                                        <td>
                                            <!-- <div style="float:left; width: 45px; height: 45px; position: relative; padding: 0px; margin: 0px;">
                                            											<img class="img-responsive" ng-src="{{option.swatchImage+randomValue}}" fallback-src="{{defaultColorImage}}" style="width: 40px; height: 40px;"/></div> -->
                                            <div style="float:left; width: 35px; height: 35px; position: relative; padding: 0px; margin: 0px;" ng-style="option.swatchImage !='' ? {'background-image': 'url('+option.swatchImage+randomValue+')'} : {'background-color':option.hexCode}">
                                            </div>
                                            <div class="pull-left m-l-30">
                                                <button class="btn btn-info btn-sm" type="button" ng-class="{'disabled': isPreLoader}"  ng-click="editattributevalue(option)">
                                                    <i class="fa fa-paste">
                                                    </i>
                                                    <xe-translate text-value="Edit">
                                                    </xe-translate>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <span ng-if="optionList.length == 0">
                            <p class="font-normal text-lg text-center m-t-150">
                                <xe-translate text-value="No Color Swatch found">
                                </xe-translate>
                            </p>
                        </span>
                    </div>
                </div>
            </div>
            <div ng-show="isLoadMore" class="panel-footer b-t-none">
                <div class="text-center">
                    <button type="button" class="btn btn-info btn-sm btn-cons" ng-click="loadMore()" ng-disabled="isPreLoader" ng-show="isLoadMore">
                        <span>
                            <xe-translate text-value="Load More">
                            </xe-translate>
                        </span>
                    </button>
                    <img class="image-responsive-height demo-mw-30 " src="assets/img/progress/progress-circle-master.svg" alt="Progress" ng-show="isPreLoader"/>
                </div>
            </div>
        </div>
    </div>
</div>
